<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mentions Légales</title>
</head>
<body>
<main class="mainMentions">
       <h2 class="titreMentions">Mentions légales</h2> 
<p>Ce site est édité par :</p>
<p>L’entreprise Multibricolage18, domiciliée à Saint-Doulchard (18)</p>
<p>RCS : 89982462700025</p>
<p>Téléphone : 06 63 21 82 72</p>
<p>Mail : contact@multibricolage18.fr</p>

<p>Directeur de la publication : </p>
<p>M. Dylan BARONVARTIAN</p>

<p>Ce site est hébergé par :</p>
<p>OVH – Siège social : 2 rue Kellermann – 59100 Roubaix – France</p>

<p>Ce site a été créé par :</p>
<p>AMRI Imane</p>

<p>Crédits photos :</p>
<p>Les photos professionnelles du site ont été réalisées par nos soins.</p>
<p>Politique de confidentialité</p>
<p>Introduction</p>
<p>L’adresse de notre site Web est : https://multibricolage18.fr. Le site est amené à collecter et à traiter des informations dont certaines sont qualifiées de « données personnelles ». Nous respectons votre vie privée et n’utilisons vos données que pour une finalité précise.
</p>
<p>Utilisation des données personnelles collectées</p>
<p>Sur le site www.multibricolage18.fr, il y a un seul type de données.</p>
<p>Les données transmises directement :</p>
<p>Ces données sont celles que vous nous transmettez directement, via les deux formulaires de contact ou de demande de devis. Sont obligatoires dans les formulaires de contact, les champs : « Nom et prénom », « email » et « téléphone ».
</p>
<p>Les données que vous nous transmettez directement sont utilisées dans le but de vous re-contacter et/ou dans le cadre de la demande que vous nous faites.</p>

<p>Durée de conservation</p>
<p>Les données seront sauvegardées durant une durée maximale de 3 ans.</p>


<p>Contenu embarqué depuis d’autres sites</p>
<p>Les articles de ce site peuvent inclure des contenus intégrés (par exemple des vidéos, images, articles…). Le contenu intégré depuis d’autres sites se comporte de la même manière que si le visiteur se rendait sur cet autre site.</p>

<p>Vous avez le droit de consultation, demande de modification ou d’effacement sur l’ensemble de vos données personnelles. Vous pouvez également retirer votre consentement au traitement de vos données.</p>
<p>Vous pouvez en faire la demande par mail à contact@aetbtoiture.fr</p>

<p>Informations de contact</p>
<p>Multibricolage19 – 06 63 21 82 72 – contact@multibricolage18.fr</p>
</main>
</body>
</html>