/* styles pour le corps de la page */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

/* styles pour l'en-tête */
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

.menuDesktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo img {
    height: 50px;
}

nav.desktop {
    display: flex;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbarList {
    margin: 0 15px;
}

.navbarList a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.navbarList a:hover {
    color: #ff9900;
}

/* styles pour le menu mobile */
.menuMobile {
    display: none;
}

.burgerLogo {
    font-size: 30px;
    cursor: pointer;
    color: white;
}

.burgerHiden {
    display: none;
}

/* styles pour le titre principal */
h1 {
    color: #333;
    margin-bottom: 20px;
}

.titre{
    display: flex;
    justify-content: space-around;
    
}

/* styles pour le bouton de déconnexion */
.btnDeconnexion {
    background-color: #ff9900;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    float: right;
}

.btnDeconnexion:hover {
    background-color: #e68a00;
}

/* styles pour la gestion des services */
h2 {
    color: #333;
    margin-top: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2%;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 1%;
    text-align: left;
    

}

table th {
    font-size: 100%;
    

}


table td:first-child{
    width: 80%;
    
}

table td:nth-child(2) {
    width: 20%;
    /* font-size: 20px; */
}



table img {
    max-width: 20%;
    height: auto;
}

/* styles pour les boutons d'action */
.btn .modifier, .effacer {
    padding: 5px 10px;
    text-decoration: none;
    width: 30%;
}

/* styles pour le formulaire */


form label {
    display: block;
    margin: 10px 0 5px;
}

form input, textarea {
    width: 95%;
    padding: 1%;
    margin-bottom: 1%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #218838;
}

/* Responsive design */
@media (max-width: 768px) {


table td:nth-child(2) {
    width: 70%;
    font-size: 15px;
}


}