@font-face {
    font-family: "openSans";
    src:
      local("OpenSans"),
      url("../fonts/OpenSans-VariableFont_wdth\,wght.ttf")
    }

*{
    margin: 0;
    padding: 0;
}

.titreContact{

     margin: 2%;
    font-size: 2.5rem;
    text-align: center;
    font-family: "OpenSans";
    background-color: #D8A848;
    box-shadow: 10px 5px 8px #D8A848;
}

.contact{
    width: 100%;
    
}

.formContact{
    background-color: beige;
    width: 70%;
    border: 2px solid #D8A848;
    border-radius: 2%;
    margin-bottom: 2%;
    margin-left: 15%;
    margin-right: 10%;
    margin-top: 5%;  
}

.formGroup{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
}


.labelContact{
    
    display: block;
    font-weight: bold;
    font-size: large;
    margin-bottom: 1%;
    margin-left: 2%;
  
}

.formGroup input{
    padding: 1%;
    width: 90%;
    margin-left: 2%;
}

.formGroup textarea{
    padding: 1%;
    margin-left: 2%;
    width: 90%;
}

.btnForm{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 6.9%;
    margin-right: 10%;
}


.submit, .reset{
    width: 48%;
    background-color: #D8A848;
    padding: 1%;
    cursor: pointer;
    border: none;
    font-weight: bold;
    font-size: large;
}

@media (max-width: 767px){
    .titreContact{
        font-size: 1.5rem;
    }

    label{
        font-size: medium;
    }

    .btnForm{
        display: grid;
        grid-template-columns: 1fr;
    }

    .submit, .reset{
        margin-top: 4%;
        margin-bottom: 2%;
        font-size: medium;
        width: 100%;
    }
}

