@font-face {
    font-family: "openSans";
    src:
      local("OpenSans"),
      url("../fonts/OpenSans-VariableFont_wdth\,wght.ttf")
    }
*{
    margin: 0;
    padding: 0;
}
 

.titreInscription{
    margin: 2%;
    font-size: 2.5rem;
    text-align: center;
    font-family: "OpenSans";
    background-color: #D8A848;
    box-shadow: 10px 5px 8px #D8A848;
}


.formInscription{
    background-color: beige;
    width: 70%;
    border: 2px solid #D8A848;
    border-radius: 2%;
    margin-bottom: 2%;
    margin-left: 15%;
    margin-right: 10%;
    margin-top: 5%;
    
}

.form-group1{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
}


.labelInscription{
   display: block;
    font-weight: bold;
    font-size: large;
    margin-bottom: 1%;
    margin-left: 2%;
  
}

.form-group1 input{
    width: 90%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 1%;
}



  .btn_inscription {
   margin-top: 1%;
    margin-left: 7%;
    margin-bottom: 1%;
    width: 20%;
    background-color: #D8A848;
    padding: 1%;
    cursor: pointer;
    border: none;
    font-weight: bold;
    font-size: large;
  }


  .voir {
    border: none;
    cursor: pointer;
    background-color: beige;
}

.eye-icon {
    width: 1rem;
    /* height: auto; */
}

 



  @media (max-width: 767px){
    .titreInscription{
        font-size: 1.5rem;
    }

    .form-group1 input{
    width: 80%;

   }  

    .btn_inscription {
      margin-top: 4%;
        margin-bottom: 2%;
        font-size: small;
        width: 75%;
    }
}

