
  @font-face {
    font-family: "openSans";
    src:
      local("OpenSans"),
      url("../fonts/OpenSans-VariableFont_wdth\,wght.ttf")
    }

  .realisations { 
    margin-bottom: 10%; 
  }

  .titreRealisations{
    margin: 2%;
    font-size: 2.5rem;
    text-align: center;
    font-family: "OpenSans";
    background-color: #D8A848;
    box-shadow: 10px 5px 8px #D8A848;
  }
  .realisations .carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;

    height: 100vh;
    width: 80%;
    position: relative;

    border: 1px solid black;
    box-shadow: 10px 5px 8px #D8A848;
    margin-left: 10%;
    margin-right: 10%;
  }

  .slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slide img{
    position: absolute;
    width: 60%;
    height: 99%;
    opacity: 0;
  }

  .slide.active img{
    opacity: 1;
  }

  .carousel button{
    position: absolute;
    background: none;
    border: none;
    font-size: 2.6rem;
    cursor: pointer;
    transform: translateY(-50%);
    top: 50%;
  }

  #prev{
    left: 50px;
  }

  #next{
    right: 50px;
  }


@media (max-width: 768px) {
  .titreRealisations{
    font-size: 1.5rem;
  }

  
  
  .carousel {
      height: 50vh; 
  }

  .slides {
      height: 200px; 
  }

  .slide img {
    width: 80%; 
    height: auto;
  }

  .carousel button {
      font-size: 2rem; 
  }

  #prev{
    left: 10px;
  }

  #next{
    right: 10px;
  }
}


